*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(rgb(30, 22, 55));
    color: white;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}
.search{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.search input{
    margin: 10px;
    padding: 12px 20px ;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 300px;
    background-color: rgba(255,255,255,0.3);
    color: white;
}
.search input::placeholder{
    color: white;
}

.search button,.showMore{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(255, 77, 77);
    font-size: 16px;
    cursor: pointer;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.showMore{
    display: none;
    margin-bottom: 100px ;
}

.result{
   width: 80%;
   margin: 100px auto 50px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 40px;
}
.result img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}

